# Dependencies
node_modules/

# Builds
dist/
build/
.next/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Prisma
prisma/dev.db

# Docker
docker-data/